.chdt {
    float: right;
}
@media only screen and (max-width: 414px)
.chdt {
    float: right;
}
@media only screen and (max-width: 768px)
.chdt {
    float: right;
}
.chdt {
    color: #757a7d;
    float: right;
    font-size: 13px;
}
.char {
    overflow: hidden;
    line-height: 23px;
}
